kubernetesDeploy configs: '.kube/config', dockerCredentials: [[credentialsId: 'docker-hub-credentials', url: 'https://registry.hub.docker.com/']], kubeConfig: [path: ''], kubeconfigId: 'kubeconfig1', secretName: '', ssh: [sshCredentialsId: '*', sshServer: ''], textCredentials: [certificateAuthorityData: '', clientCertificateData: '', clientKeyData: '', serverUrl: 'https://']